$bp-tablet: 768px;
$bp-tablet-horizontal: 1024px;
$bp-desktop: 1200px;
$bp-desktop-xl: 1440px;


//Fonts
$primary-font: "Roboto", sans-serif;
$secondary-font: "Archivo Narrow", sans-serif;
$tittle-font: "Archivo Black", sans-serif;


//Colors
$color-pink: #f518c5;
$color-black: #000000;
$color-white:#ffffff;
$color-grey:#656363;
$color-lightGrey:#a8a8a8;
$color-lightGrey2:#c4c1c1;


$color-gradientBlack: linear-gradient(to right, #000000, #333333, #666666, #999999, #CCCCCC, #FFFFFF);
$color-gradientBlackLeft: linear-gradient(to left, #000000, #333333, #666666, #999999, #CCCCCC, #FFFFFF);
$color-gradientGrey: linear-gradient(to bottom, #c7c1c5, #aeaaad, #979396, #7f7d7f, #696769);



//animaciones
$duration: 2s;
$timing-function: ease-in-out;











