.header-principal {

    .container {
        padding: 0;
        margin: 0;
    }

    &__logo {
        @include flex();
        justify-content: space-around;
        background-image: $color-gradientBlack;
        padding-left: 5px;
    }

    &__logo-link {
        text-decoration-line: none;
        font-size: 1.1rem;
        text-transform: uppercase;
        letter-spacing: 2px;
        width: auto;
        font-family: $tittle-font;
        color: $color-pink;
        padding: 12px;
        display: inline-block;
        text-align: center;
    }

    #toggleMenu {

        @include button();

    }

    &__login {
        padding-right: 5px;

        #loginButton {
            @include button();
            font-family: $primary-font;
            text-transform: capitalize;
            font-weight: 500;
            line-height: 0.8rem;
        }

        
        .modal {
            display: none;
            position: fixed;
            z-index: 1;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;

        }

        .modal-content {
            background-color: $color-white;
            margin: 20% 20%;
            padding: 20px;
            border: 2px solid $color-pink;
            width: 60%;
            border-radius: 10px;

            h2 {
                font-family: $primary-font;
                padding: 10px;
                font-size: 1.2rem;
                text-transform: capitalize;
            }
        }

        .close {
            color: $color-pink;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }


        .close:hover,
        .close:focus {
            color: $color-black;
            background-color: $color-lightGrey;
            padding-left: 5px;
            padding-right: 5px;
            text-decoration: none;
            cursor: pointer;
        }

        #loginForm {
            font-family: $secondary-font;
            padding: 10px;
            font-size: 1.1rem;
            padding-bottom: 5px;


            input {
                border: 1px solid $color-grey;
                padding-bottom: 5px;
            }

            button {
                @include button;
                margin-top: 15px;
                padding: 5px;
            }


        }
    }




    &__menu {
        display: none;
        position: absolute;
        background-color: $color-lightGrey;
        min-width: 160px;
        padding: 12px 16px;
        z-index: 1;

        &.active {
            display: block;
        }

        @include breakpoint(tablet) {

            @include flex();
            background-color: $color-grey;

            li {
                @include reset-list();
                padding: 0px;
                margin: 0px;
                background-color: $color-grey;



                a {
                    display: block;
                    text-decoration-line: none;
                    text-transform: capitalize;
                    font-size: .8rem;
                    color: $color-black;

                    &:hover {
                        color: $color-white;
                    }
                }
            }
        }


    }
}