.news {
    position: relative;
    padding-bottom: 50px;

    ::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url(../../img/background/voleyball-woman.jpg);
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-size: 90%;
        opacity: 0.1;
        z-index: -1;
    }

    h1 {
        font-size: 1.1rem;
        text-align: center;
        padding-top: 30px;
        padding-bottom: 20px;
    }


    ul {
        @include flex();
        align-content: flex-start;
        padding-bottom: 80px;
        flex-direction: column;

        li {
            @include reset-list();

            a {
                font-family: $secondary-font;
                display: block;
                text-decoration-line: none;
                text-transform: capitalize;
                font-size: 1.4rem;
                color: $color-black;
                font-weight: 600;
                text-shadow: 1px 1px $color-lightGrey;
                padding: 10px;

                &:hover {
                    color: $color-pink;

                }
            }
        }

    }
}