.photoGalery {
    padding: 20px;
    h1 {
        font-size: 1.1rem;
        text-align: center;
        padding-top: 30px;
        padding-bottom: 20px;

        @include breakpoint(tablet) {
            font-size: 1.2rem;
            padding-top: 60px;
        }
    }

    p:nth-of-type(2) {
        font-weight: 600;
    }

    &__text {
        padding-bottom: 30px;
        @include breakpoint(tablet) {
            padding-bottom: 60px;
            padding-left: 20px;
            padding-right: 20px;
        }
    }

    &__videos {
        padding-top: 20px;
        padding-bottom: 40px;

        h2 {
            color: $color-grey;
            font-family: $secondary-font;
        }

        width:100%;

    }
}


.swiper-container {
    width: 100vw;
    margin: 10px;
    padding: 0 20px;
    @include breakpoint(tablet) {
        width: 100%;
        padding: 0 40px;
    }
    @include breakpoint(desktop) {
        width: 100%;
        padding: 0 60px;
    }

    @include breakpoint(desktop-horizontal) {
        width: 100%;
        padding: 0 80px;
    }   
    @include breakpoint(desktop-xl) {
        width: 100%;
        padding: 0 100px;
    }

    .swiper-pagination.swiper-pagination-bullets.swiper-pagination-horizontal {
        bottom: 0px;
    }

    .mySwiper {
        padding-bottom: 20px;

        .swiper-slide {
            display: flex;
            justify-content: center;
            align-items: center;

            img {
                width: 400px;
                height: 250px;
                @include breakpoint(tablet) {
                    width: 600px;
                    height: 400px;
                }
            }

            video {
                margin: auto;
                display: block;

                @include breakpoint(tablet) {
                    width: 600px;
                    height: 400px;
                }

            }
        }

        .swiper-button-next {
            right: -10px;
            top: 50%;
            transform: translateY(-50%);    
            color: $color-pink;

            @include breakpoint(tablet) {
                right: 30px;
            }

            @include breakpoint(tablet-horizontal) {
                right: 50px;
            }

            @include breakpoint(desktop) {
                right: 70px;
            }
        }

        .swiper-button-prev {
            left: -10px;
            top: 50%;
            transform: translateY(-50%);
            color: $color-pink;

            @include breakpoint(tablet) {
                left: 50px;
            }

            @include breakpoint(tablet-horizontal) {
                left: 70px;
            }

            @include breakpoint(desktop) {
                left: 90px;
            }
        }

    }
}